<%= link_to products_path do %>
<h1 class='text-red-400'><%=t('app_name')%></h1>
<% end %>

<%= link_to t('common.add_product'), new_product_path if Current.user%>
<%= link_to 'Favoritos', favorites_path if Current.user %>
<%= link_to t('common.categories'), categories_path if Current.user&.admin? %>
<%= link_to t('common.login'), new_session_path unless Current.user %>
<%= link_to t('common.register'), new_user_path unless Current.user %>
<%= link_to 'Logout', session_path(Current.user.id), data:{
    turbo_method: :delete,
    turbo_confirm: '¿Estás seguro?'
} if Current.user %>